TABLE.libhead {
  border: none;
  width: 100%;
  background-image: url("pic/grad.jpg");
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

TD.libspf A IMG, TD.libdoc A IMG {
  border: none;
  vertical-align: middle;
  float: left;
}

TD.libspf {
  background-color: #E2F5FA;
  width: 4%;
  max-width: 4%;
  border-bottom: solid white 0.5em;
}

TD.libdoc {
  background-color: #FEFEF4;
  width: 5%;
  max-width: 5%;
  border-bottom: solid white 0.5em;
}

TD.libname {
  background-color: #E2F5FA;
  font-size: 13pt;
  border: none;
  max-width: 20%;
  width: 20%;
  font-weight: bold;
  padding-left: 1em;
  border-bottom: solid white 0.5em;
}

TD.libdescr {
  background-color: #FEFEF4;
  padding-left: 2em;
  border-bottom: solid white 0.5em;
}

TABLE.lib {
 width: 95%;
}

H2.section {
  font-style: italic;
  font-family: serif;
  font-size: 20pt;
  margin-top: 1em;
  color: rgb(20,100,100);
  margin-left: -0.7em;
}

TABLE.head {
  border: none;
  width: 90%;
  align: left;
  background-image: url("pic/grad.jpg");
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-position: left center;
}

TD.head {
  padding-left: 1em;
  max-width: 2%;
  width: 2%;
}

TD.headn {
  width: 10em;
  font-size: 14pt;
  color: blue;
  padding-left: 1em;
  width: 20%;
  max-width: 20%;
  text-transform: uppercase;
}

TD.head A IMG {
  border: none;
  vertical-align: middle;
  float: right;
}

DIV.descr {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-indent: 0;
  text-align: left;
}

